body {
	color: #000000;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	line-height: 28px;
	font-size: 15px;
}

h1 {
	color: #3CB371;
	font-size: 25px;
}

h2 {
	color: #3CB371;
	font-size: 20px;
}

a.skip-main:focus, a.skip-main:active{
	color: #fff;
    background-color:#000;
}

footer nav div{
	font-weight: bold
}
nav a {
	color: #DC143C;
}
nav a.current {
	color: 	#FF7F50;
	background-color: #731873;
	font-weight: bold;

}

img {
  width:  350px;
  height: 350px;
}



